
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;1,300&family=Lemonada&family=Raleway:wght@300&display=swap');$base-size: 12px;

$base-color: #584332;
$background-color: #f3e9cf;
$text-color-dark: #363636;
$text-color-light: #F5EDDA;

$logo-font: 'Lemonada', cursive;
$text-font: 'Barlow', sans-serif;
$header-font: 'Raleway', sans-serif;

$color-success: #8bc34a;
$color-danger: #a72456;

@keyframes viewsFromRight {
    0% {
      margin-left: 150px;
    }
    100% {
      margin-left: 0;
    }
  }