@import "../../../styles/settings.scss";

.AppBar {
  background: $base-color;
}
.toolbar {
  justify-content: space-between;
}
.login {
  text-decoration: none;
  color: $text-color-light;
  font-family: $text-font;
}
.brand {
  font-family: $logo-font;
}
.menuButton {
  margin-right: 1rem;
}
@media (max-width: 768px) {
  .brand {
    font-size: 15px;
  }  
  .login {
    display: none;
  }
}
